.primary-color {
  color: #ff42a5;
}

.font-family {
  font-family: "Work Sans", sans-serif;
}

.btn-pink {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: 0;
  background-color: #ff42a5;
  color: white;
  font-size: 15px;
}
.btn-sky {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: 0;
  background-color: #4ec5f7;
  color: white;
  font-size: 15px;
}
.btn-white {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: 0;
  background-color: white;
  color: #ff42a5;
  font-size: 15px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
}

.navbar img {
  width: 25px;
  height: 25px;
}

.navbar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 45px;
}

.navbar-title img {
  width: 86px;
  height: 40px;
}

.nav-menu {
  display: flex;
  gap: 25px;
}

.nav-menu ul {
  display: flex;
  text-decoration: none;
  gap: 15px;
  font-size: 18px;
}

.nav-menu ul > li {
  list-style: none;
}

.nav-menu > ul > li > a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-followUs {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(11, 2, 35, 0.1);
  width: 200px;
  height: 40px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 5px 15px;
}

/* header  */

.header {
  background-image: url("./images/Group 14.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
}

.header-content-text {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.head-text {
  padding: 0;
  margin: 0;
}

.header-content-text p {
  font-style: normal;
}

.header-content-text h3 {
  font-size: 48px;
}

.gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.goat {
  text-align: center;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  padding-left: 0;
  padding-bottom: 50px;
  position: relative;
  left: -40px;
}

.header-content-button {
  display: flex;
  gap: 25px;
  padding-top: 60px;
}

/* we are gamer  */

.gamer {
  background: linear-gradient(
    90deg,
    rgba(255, 250, 253, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
}

.gamer h1 {
  font-size: 50px;
}

.gamer-content {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: end;
  width: 520px;
}

.gamer-content h2 {
  font-size: 30px;
}

/* online games funny videos  */

.funnyVideos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.funnyVideos-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.funnyVideos-title h2 {
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.videos {
  margin: 20px 150px;
  display: flex;
  justify-content: space-between;
}

.video {
  width: 100%;
  text-align: center;
}

.video:hover {
  border-radius: 16px;
  position: relative;
}
.video:hover img {
  border: 5px solid #ff42a5;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-image: url("./images/playicon2.png");
  background-size: cover;
}

/* Play Instantly  */
.playInstantly {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
  gap: 350px;
}

.playInstantly-title {
  width: 950px;
  text-align: right;
}

.playInstantly-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playInstantly-image,
.playGame-image img {
  width: 750px;
}

.move-img img {
  width: 350px;
  height: 350px;
  display: flex;
  position: relative;
  top: -250px;
  left: -150px;
}

.playInstantly,
h2 {
  font-size: 50px;
  margin: 0;
}

/* play games  */
.playGame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
  gap: 350px;
}

.playGame-title {
  width: 950px;
  text-align: left;
}

.playGame-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.moveGame-img img {
  width: 350px;
  height: 350px;
  display: flex;
  position: relative;
  top: -250px;
  left: 500px;
}

/* Careers */

.careers-container {
  display: flex;
  background-color: #ff42a5;
  height: 700px;
  color: white;
  gap: 100px;
}

.careers-content {
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.careers-types {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.careers {
  width: 150px;
}

.careersDesignation {
  text-align: left;
}

.careersLocation {
  text-align: right;
}

/* type of game  */
.gameTypes {
  padding: 50px 250px;
}

.gameTop,
.gameBottom {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.gameBottom {
  padding-left: 50px;
  padding-right: 50px;
}

.game {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.games > a {
  text-decoration: none;
  color: black;
}

.games:hover {
  border: 2px solid #ff42a5;
  height: 100%;
  border-radius: 40px;
  color: #ff42a5;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.games:hover a {
  color: #ff42a5;
}

/* footer  */

.footer-container {
  /* border: 5px solid red; */
  padding: 0px 250px;
  display: flex;
  height: 636px;
  background-color: #0b0223;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-img img {
  width: 50px;
  height: 50px;
}
.footer-img {
  padding: 0px 15px;
}

.footer-sm {
  padding: 20px;
}
.footer-sm a {
  gap: 50px;
}

.footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-title img {
  width: 70px;
  height: 50px;
}

.footer-listOne ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.footer-listOne ul li,
a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.color-gra {
  color: rgba(255, 255, 255, 0.6);
}
